@font-face {
  font-family: KaushanScript;
  src: url("fonts/kaushanscript.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("fonts/montserrat.ttf");
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-button {
  opacity: 0;
}

::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  height: 90px;
  background-color: #95e1d3;
  border-radius: 5px;
}

body {
  color: white;
  overflow-x: hidden;
}

body > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1000px;
}

header {
  text-align: center;
}
header .italicHeader {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: KaushanScript;
  color: #333333;
  margin-top: 90px;
  margin-bottom: 10px;
}
header .boldHeader {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: Montserrat;
  color: #333333;
  margin-top: 10px;
}
header .rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  top: 200px;
  left: 930px;
  margin: 20px 0;
}

.main {
  background: url("images/Bg.png") no-repeat;
}
.main p {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
}
.main #MoGo {
  margin: 23px 0 0 362px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: Montserrat;
  color: white;
}
.main #CreativeTemplate {
  margin: 219px 0 0 710px;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  font-family: KaushanScript;
  color: white;
}
.main #Welcome {
  margin: 358px 0 0 560px;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  font-family: Montserrat;
  color: white;
  text-align: center;
  line-height: 0.933;
}
.main .menuBg {
  width: 695px;
  height: 55px;
  position: fixed;
  left: 950px;
  top: 20px;
  background: linear-gradient(#e98282, #e78682);
  box-shadow: 3px 3px 7px #e78682, 3px -3px 7px #e78682, -3px -3px 7px #e98282, -3px 3px 7px #e98282;
  border-radius: 15px;
  opacity: 0.5;
  z-index: 20;
}
.main ul {
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  list-style-type: none;
  width: max-content;
  margin-left: 942px;
  padding: 20px 0 15px;
}
.main ul li {
  display: inline;
  padding: 0 28px;
}
.main ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat;
  color: white;
  padding-bottom: 12px;
}
.main ul li a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}
.main .rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: white;
  left: 930px;
  top: 677px;
}
.main .learn-more {
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid white;
  left: 880px;
  top: 730px;
  width: 160px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: white;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
.main .slider {
  margin: 927px 0 0 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-family: Montserrat;
  color: white;
}
.main .slider b {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: Montserrat;
  color: white;
}
.main .slider > div {
  display: inline-block;
  background-color: white;
  width: 280px;
  height: 3px;
  margin: 0 15px;
  opacity: 0.6;
}
.main .slider div:first-child {
  opacity: 1;
}
.main .slider div:first-child > .rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  left: 360px;
  top: 927px;
  width: 70px;
}

.about_us {
  text-align: center;
  top: 1000px;
}
.about_us #lorem {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  width: 954px;
  height: 39px;
  margin: 90px 0 45px 467px;
}
.about_us .images > div > img {
  width: 380px;
  height: 250px;
}
.about_us .images > div {
  display: inline-block;
  width: 380px;
  height: 250px;
  background-color: #95e1d3;
  margin: 45px 15px 55px;
}
.about_us .images > div:hover > img {
  position: relative;
  top: -10px;
  left: -10px;
  z-index: 1;
}
.about_us .whenHover {
  width: 380px;
  height: 250px;
  position: relative;
  top: -254px;
  left: 0;
  background: url("images/super-team.png") 50% 50% no-repeat, linear-gradient(to bottom, #e47d7d, #e9d383);
  opacity: 0;
  z-index: 2;
}
.about_us .images > div:hover > .whenHover {
  position: relative;
  top: -264px;
  left: -10px;
  opacity: 0.9;
}

.facts {
  top: 1750px;
  height: 270px;
  background-color: #95e1d3;
  margin: 55px 0;
  text-align: center;
}
.facts > div {
  display: inline-block;
  width: 240px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat;
  color: white;
  padding: 90px 0;
}
.facts > div > span {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  font-family: Montserrat;
  color: white;
}
.facts div:nth-child(2n-1) {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.service {
  height: 650px;
  text-align: center;
  color: #333333;
  top: 2020px;
  margin: 55px 0 40px 0;
}
.service .skills {
  display: inline-block;
  width: 1200px;
  margin-top: 40px;
}
.service .skills > div {
  margin: 0;
  width: 393px;
  height: 166px;
  text-align: left;
  display: inline-block;
}
.service .skills img {
  margin: 30px;
}
.service .skills span {
  position: relative;
  top: -83px;
  left: 90px;
}
.service .skills span > p {
  width: 275px;
}
.service .skills span > p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
}
.service .skills span > p:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
}
.service .skills hr {
  margin: -30px 0 30px;
  opacity: 0.3;
}

.feature {
  top: 2670px;
  height: 850px;
  margin: 40px 0 0 0;
  background-image: url("images/featuresBg.png");
}
.feature > img {
  position: absolute;
  top: 0;
  left: 0;
  top: 272px;
  left: 695px;
  width: 475px;
  z-index: 0;
}
.feature > img + img {
  width: 205px;
  left: 1085px;
  top: 465px;
  margin-bottom: 20px;
}

.service2 {
  height: 840px;
  top: 3580px;
}
.service2 header + p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  text-align: center;
  position: relative;
  left: 467px;
  top: 50px;
  width: 954px;
  height: 39px;
  margin-bottom: 96px;
}
.service2 .container {
  width: 1200px;
  height: 380px;
  margin: 0 0 120px 360px;
  color: black;
}
.service2 .container .left, .service2 .container .right {
  width: 570px;
  display: inline-block;
}
.service2 .container .left {
  float: left;
}
.service2 .container .left img {
  width: 570px;
}
.service2 .container .right {
  float: right;
}
.service2 .container .right input {
  visibility: hidden;
  position: absolute;
}
.service2 .container .right > p {
  border: 1px solid #e5e5e5;
  padding: 20px;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  text-align: left;
  width: 525px;
  height: 132px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.service2 .container .right .head {
  width: 570px;
  height: 60px;
  border: 1px solid #e5e5e5;
  margin-bottom: 8px;
}
.service2 .container .right .head p, .service2 .container .right .head img {
  display: inline-block;
}
.service2 .container .right .head > p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  width: max-content;
  position: relative;
  top: -20px;
}
.service2 .container .right .head > img {
  margin: 14px 15px;
}
.service2 .container .right .head .arrow {
  position: relative;
  top: 12px;
  float: right;
}
.service2 .container .photography + .blockOfText {
  margin-top: -9px;
  width: 530px;
}

.quote {
  top: 4420px;
  height: 290px;
  background-color: #f8f8f8;
}
.quote .text {
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.5;
  text-align: left;
  width: 800px;
  height: 96px;
  position: relative;
  top: -125px;
  left: 125px;
}
.quote > * {
  display: inline-block;
}
.quote img:first-child {
  margin: 134px 0 134px 393px;
}
.quote img:nth-child(2) {
  position: relative;
  top: -65px;
  left: 70px;
}
.quote img:last-child {
  position: relative;
  top: -134px;
  left: 170px;
}
.quote .rect2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  top: 210px;
  left: 690px;
}
.quote .author {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: KaushanScript;
  color: #333333;
  text-align: left;
  position: absolute;
  right: 1080px;
  top: 170px;
}

.ourTeam {
  top: 4710px;
}
.ourTeam header + p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  text-align: center;
  position: relative;
  left: 467px;
  top: 50px;
  width: 954px;
  height: 39px;
  margin-bottom: 96px;
}
.ourTeam .images {
  position: relative;
  top: 60px;
  left: 350px;
  width: 1250px;
  height: 480px;
}
.ourTeam .images > div {
  display: inline-block;
  width: 380px;
  height: 470px;
  margin: 0 15px;
  position: relative;
  top: 0;
  background-color: #95e1d3;
}
.ourTeam .images > div .panel {
  width: 224px;
  height: 56px;
  position: absolute;
  top: 200px;
  left: 78px;
  display: flex;
  visibility: hidden;
  background-color: #f38181;
}
.ourTeam .images > div .panel > div {
  flex-direction: row;
  background-color: #fce38a;
  width: 55px;
  height: 56px;
  margin-right: 1px;
}
.ourTeam .images > div .panel > div:nth-child(1) {
  background: url("images/panel1.png");
}
.ourTeam .images > div .panel > div:nth-child(1):hover {
  background: white url("images/panel1.png");
}
.ourTeam .images > div .panel > div:nth-child(2) {
  background: url("images/panel2.png");
}
.ourTeam .images > div .panel > div:nth-child(2):hover {
  background: white url("images/panel2.png");
}
.ourTeam .images > div .panel > div:nth-child(3) {
  background: url("images/panel3.png");
}
.ourTeam .images > div .panel > div:nth-child(3):hover {
  background: white url("images/panel3.png");
}
.ourTeam .images > div .panel > div:nth-child(4) {
  background: url("images/panel4.png");
}
.ourTeam .images > div .panel > div:nth-child(4):hover {
  background: white url("images/panel4.png");
}
.ourTeam .images > div > .image {
  position: relative;
  width: 380px;
  height: 470px;
}
.ourTeam .images > div .matthew {
  background: url("images/matthewPhoto.png") -70px 0 no-repeat;
  background-size: cover;
}
.ourTeam .images > div .christopher {
  background: url("images/christopher.png") -100px -90px no-repeat;
  background-size: cover;
  background-size: 140% 120%;
}
.ourTeam .images > div .michael {
  background: url("images/michael.png") bottom no-repeat;
  background-size: cover;
  background-size: 200% 100%;
}
.ourTeam .images > div > .image:hover {
  position: relative;
  top: -10px;
  left: -10px;
}
.ourTeam .images > div > .image:hover + .panel {
  visibility: visible;
}
.ourTeam .images > div .matthew:hover {
  background: linear-gradient(to bottom, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8)), url("images/matthewPhoto.png") -80px;
}
.ourTeam .images > div .christopher:hover {
  background: linear-gradient(to bottom, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8)), url("images/christopher.png") -100px -90px;
  background-size: 140% 120%;
}
.ourTeam .images > div .michael:hover {
  background: linear-gradient(to bottom, rgba(238, 137, 138, 0.8), rgba(240, 217, 137, 0.8)), url("images/michael.png") -190px;
  background-size: 200% 100%;
}
.ourTeam .names {
  position: absolute;
  top: 890px;
  left: 363px;
}
.ourTeam .names > p {
  display: inline;
  width: 185px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  margin: 30px 136px;
}
.ourTeam .professions > p {
  position: relative;
  top: 100px;
  left: 350px;
  margin: 30px 150px;
  display: inline;
  width: 130px;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: Robot;
  color: #999999;
  line-height: 1.6;
}
.ourTeam .professions > p:last-child {
  margin-left: 180px;
}

.logos {
  top: 5760px;
  height: 250px;
  background-color: #f8f8f8;
}
.logos img {
  margin-left: 360px;
  position: absolute;
  top: 50px;
}

.work {
  top: 6010px;
}
.work header + p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  text-align: center;
  position: relative;
  left: 467px;
  top: 50px;
  width: 954px;
  height: 39px;
  margin-bottom: 96px;
}
.work table {
  width: 1920px;
  height: 780px;
  border-collapse: collapse;
  margin: 40px 0 0 0;
}
.work table td img {
  width: 480px;
  height: 390px;
}
.work table #_1 {
  background: url("images/img1.png") bottom no-repeat;
  background-size: cover;
}
.work table #_2 {
  background: url("images/img2.png") bottom no-repeat;
  background-size: cover;
}
.work table #_3 {
  background: url("images/img3.png") bottom no-repeat;
  background-size: cover;
}
.work table #_4 {
  background: url("images/img4.png") bottom no-repeat;
  background-size: cover;
}
.work table #_5 {
  background: url("images/img5.png") bottom no-repeat;
  background-size: cover;
}
.work table #_6 {
  background: url("images/img6.png") bottom no-repeat;
  background-size: cover;
}
.work table #_7 {
  background: url("images/img7.png") bottom no-repeat;
  background-size: cover;
}
.work table #_4, .work table #_6, .work table #_7 {
  background-position: top;
}

.quote2 {
  top: 7200px;
  padding-top: 45px;
  background-color: white;
}
.quote2 img:nth-child(2) {
  left: 0;
  top: -30px;
}
.quote2 img:last-child {
  left: 70px;
}
.quote2 .text {
  left: 0;
}
.quote2 .author {
  right: 1000px;
  top: 200px;
}
.quote2 .rect2 {
  left: 735px;
  margin-top: 30px;
}

.whatPeopleSay {
  height: 830px;
  top: 7640px;
  background-image: url("images/bg2.png");
}
.whatPeopleSay .reviews {
  width: 1200px;
  height: 500px;
  margin: 120px 400px;
}
.whatPeopleSay .reviews > .review {
  display: inline;
  width: 600px;
  height: 245px;
}
.whatPeopleSay .reviews > .review > div {
  position: relative;
  left: 140px;
  top: -100px;
  width: 375px;
}
.whatPeopleSay .reviews > .review > div > .revAuthor {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  margin: 0;
}
.whatPeopleSay .reviews > .review > div > .revProf {
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  margin: 0;
}
.whatPeopleSay .reviews > .review > div > .revRect {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: relative;
  top: 8px;
}
.whatPeopleSay .reviews > .review > div .rev {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
}
.whatPeopleSay .reviews > .review:nth-child(2) {
  position: relative;
  left: 50%;
  top: -285px;
}
.whatPeopleSay .reviews > .review:nth-child(3) {
  position: relative;
  top: -350px;
}
.whatPeopleSay .reviews > .review:nth-child(4) {
  position: relative;
  top: -635px;
  left: 50%;
}

.blog {
  height: 770px;
  top: 8470px;
}
.blog header + div {
  width: 1200px;
  height: 400px;
  display: flex;
  margin: 0 0 0 340px;
}
.blog .blogItem {
  flex-direction: row;
  margin: 80px 15px;
  width: 380px;
  height: 400px;
}
.blog .blogItem > .image1 {
  width: 380px;
  height: 240px;
  background: url("images/blog1.png") center no-repeat;
}
.blog .blogItem > .image2 {
  width: 380px;
  height: 240px;
  background: url("images/blog2.png") center no-repeat;
}
.blog .blogItem > .image3 {
  width: 380px;
  height: 240px;
  background: url("images/blog3.png") center no-repeat;
}
.blog .blogItem .data {
  width: 60px;
  height: 70px;
  position: relative;
  top: -110px;
  left: -10px;
  background-color: #95e1d3;
  text-align: center;
}
.blog .blogItem .data .date {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: Montserrat;
  color: white;
  position: relative;
  top: 5px;
}
.blog .blogItem .data .month {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  font-family: Montserrat;
  color: white;
  position: relative;
  top: -27px;
}
.blog .blogItem .data + p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  position: relative;
  top: -100px;
}
.blog .blogItem .data + p + p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  width: 375px;
  height: 39px;
  position: relative;
  top: -100px;
}
.blog .blogItem hr {
  width: 380px;
  opacity: 0.25;
  position: relative;
  top: -90px;
}
.blog .blogItem .view:before {
  content: url("images/VIEW.png");
  margin: 0 5px 0 0;
}
.blog .blogItem .comment:before {
  content: url("images/SPEECH BUBBLE.png");
  margin: 0 5px;
  position: relative;
  top: 2px;
}
.blog .blogItem .view, .blog .blogItem .comment {
  display: inline;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  position: relative;
  top: -90px;
}

.map {
  top: 9240px;
  height: 200px;
  background: url("images/mapBg.png") no-repeat;
  background-size: cover;
}
.map img {
  position: relative;
  top: 57px;
  left: 950px;
}
.map p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: Montserrat;
  color: #f38181;
  position: relative;
  top: 40px;
  text-align: center;
}
.map .rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  top: 145px;
  left: 930px;
}

.footer {
  top: 9440px;
  height: 560px;
}
.footer > div {
  display: inline-block;
  margin: 0 7px;
}
.footer .mogo {
  width: 480px;
  margin-left: 360px;
}
.footer .mogo p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  font-family: Montserrat;
  color: #cccccc;
}
.footer .mogo p:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
}
.footer .mogo p:nth-child(3) {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  margin-top: 25px;
}
.footer .mogo hr {
  opacity: 0.3;
}
.footer .mogo p:nth-child(5) {
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.6;
  position: relative;
  top: -3px;
  margin-right: 5px;
}
.footer .mogo p:nth-child(5), .footer .mogo a {
  display: inline-block;
}
.footer .mogo a {
  margin: 5px 7px;
}
.footer .mogo a:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.footer .mogo input {
  height: 40px;
  width: 230px;
  border: 1px solid #e7e7e7;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  font-family: Roboto;
  color: #333333;
  line-height: 1.6;
  padding-left: 10px;
  opacity: 0.8;
}
.footer .mogo button {
  background-color: #95e1d3;
  width: 150px;
  height: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: white;
  text-align: center;
  border: none;
  position: relative;
  left: -5px;
  top: 1px;
}
.footer .blogs {
  width: 350px;
  position: relative;
  top: 60px;
}
.footer .blogs .item {
  width: 340px;
  height: 80px;
  margin: 20px 0;
}
.footer .blogs .item p {
  position: relative;
  top: -85px;
  left: 135px;
}
.footer .blogs p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  width: 200px;
}
.footer .blogs > p:first-child {
  margin-bottom: 25px;
}
.footer .blogs p + p {
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  font-family: Roboto;
  color: #999999;
  line-height: 1.846;
  margin-top: -10px;
}
.footer .instagram {
  width: 270px;
}
.footer .instagram p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
  margin-bottom: 25px;
}
.footer .instagram td {
  width: 88px;
  height: 88px;
}
.footer .instagram #__1 {
  background: url("images/inst1.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__2 {
  background: url("images/inst2.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__3 {
  background: url("images/inst3.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__4 {
  background: url("images/inst4.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__5 {
  background: url("images/inst5.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__6 {
  background: url("images/inst6.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__7 {
  background: url("images/inst7.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__8 {
  background: url("images/inst8.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram #__9 {
  background: url("images/inst9.png") bottom no-repeat;
  background-size: cover;
}
.footer .instagram a {
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  font-family: Roboto;
  color: #999999;
  line-height: 2;
  text-decoration: none;
}
.footer div + hr {
  opacity: 0.3;
  margin-top: 60px;
}
.footer hr + p {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: Montserrat;
  color: #333333;
}
.footer hr + p span {
  color: #f38181;
}

/*# sourceMappingURL=style.css.map */
