$redColor: #f38181;
$textColor: rgb( 51, 51, 51 );
$grayTextColor: rgb(153, 153, 153);
$blueColor: #95e1d3;
$grayBg: #f8f8f8;
$gradForBg: linear-gradient(to bottom, rgba(238, 137, 138, .8), rgba(240, 217, 137, .8));

@mixin abs-pos{
  position: absolute;
  top: 0;
  left: 0;
}
@mixin page-settings{
  @include abs-pos;
  width: 1920px;
  height: 1000px;
}
@mixin test-border{
  border: 1px solid black;
}
@mixin small-rect{
  @include abs-pos;
  width: 60px;
  height: 3px;
}
@mixin small-white-rect{
  @include small-rect;
  background-color: white;
}
@mixin small-red-rect{
  @include small-rect;
  background-color: $redColor;
}
@mixin for-header{
  .italicHeader{
    @include fontStyle(normal, normal, 24px, KaushanScript, $textColor);
    margin-top: 90px;
    margin-bottom: 10px;
  }
  .boldHeader{
    @include fontStyle(normal, bold, 30px, Montserrat, $textColor);
    margin-top: 10px;
  }
  .rect{
    @include small-red-rect;
    top: 200px;
    left: 930px;
    margin: 20px 0;
  }
  text-align: center;
}
@mixin afterHeader{
  @include fontStyle(normal, normal, 15px, Roboto, $grayTextColor);
  line-height: 1.6;
  text-align: center;
  position: relative;
  left: 467px;
  top: 50px;
  width: 954px;
  height: 39px;
  margin-bottom: 96px;
}
@mixin forImage($url, $position:bottom){
  background: url($url) $position no-repeat;
  background-size: cover;
}
@mixin fontStyle($style:normal, $weight:normal, $size, $family, $color:white){
  font:{
    style: $style;
    weight: $weight;
    size: $size;
    family: $family;
  }
  color: $color;
}

@font-face {
  font-family: KaushanScript;
  src: url("fonts/kaushanscript.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("fonts/montserrat.ttf");
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-button { opacity: 0; }
::-webkit-scrollbar-track-piece { background-color: #f5f5f5;}
::-webkit-scrollbar-thumb { height: 90px; background-color: #95e1d3; border-radius: 5px;}

body{
  color: white;
  overflow-x: hidden;
}
body > div{
  @include page-settings;
}
header{
  @include for-header;
}

.main{
  background: url("images/Bg.png") no-repeat;
  p{
    @include abs-pos;
    width: max-content;
  }
  #MoGo{
    margin: 23px 0 0 362px;
    @include fontStyle(normal, bold, 30px, Montserrat);
  }
  #CreativeTemplate{
    margin: 219px 0 0 710px;
    @include fontStyle(italic, normal, 72px, KaushanScript);
  }
  #Welcome{
    margin: 358px 0 0 560px;
    @include fontStyle(normal, bold, 150px, Montserrat);
    text-align: center;
    line-height: .933;
  }
  .menuBg{
    width: 695px;
    height: 55px;
    position: fixed;
    left: 950px;
    top: 20px;
    background: linear-gradient(#e98282, #e78682);
    box-shadow: 3px 3px 7px #e78682, 3px -3px 7px #e78682, -3px -3px 7px #e98282, -3px 3px 7px #e98282;
    border-radius: 15px;
    opacity: .5;
    z-index: 20;
  }
  ul{
    @include abs-pos;
    position: fixed;
    z-index: 20;
    list-style-type: none;
    width: max-content;
    margin-left: 942px;
    padding: 20px 0 15px;
    li{
      display: inline;
      padding: 0 28px;
      a{
        text-decoration: none;
        @include fontStyle(normal, normal, 14px, Montserrat);
        padding-bottom: 12px;
      }
      a:hover{
        color: #fce38a;
        border-bottom: 3px solid #fce38a;
      }
    }
  }
  .rect{
    @include small-white-rect;
    left: 930px;
    top: 677px;
  }
  .learn-more{
    @include abs-pos;
    border: 3px solid white;
    left: 880px;
    top: 730px;
    width: 160px;
    height: 40px;
    @include fontStyle(normal, bold, 14px, Montserrat);
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .slider{
    margin: 927px 0 0 360px;
    @include fontStyle(normal, normal, 18px, Montserrat);
    b{
      @include fontStyle(normal, bold, 24px, Montserrat);
    }
    > div {
      display: inline-block;
      background-color: white;
      width: 280px;
      height: 3px;
      margin: 0 15px;
      opacity: .6;
    }
    div:first-child{
      opacity: 1;
      > .rect{
        @include small-red-rect;
        left: 360px;
        top: 927px;
        width: 70px;
      }
    }
  }
}

.about_us{
  text-align: center;
  top: 1000px;
  #lorem{
    @include fontStyle(normal, normal, 15px, Roboto, $grayTextColor);
    width: 954px;
    height: 39px;
    margin: 90px 0 45px 467px;
  }
  .images > div > img{
    width: 380px;
    height: 250px;
  }
  .images > div{
    display: inline-block;
    width: 380px;
    height: 250px;
    background-color: $blueColor;
    margin: 45px 15px 55px;
  }
  .images > div:hover > img{
    position: relative;
    top: -10px;
    left: -10px;
    z-index: 1;
  }
  .whenHover{
    width: 380px;
    height: 250px;
    position: relative;
    top: -254px;
    left: 0;
    background: url("images/super-team.png") 50% 50% no-repeat, linear-gradient(to bottom, #e47d7d, #e9d383);
    opacity: 0;
    z-index: 2;
  }
  .images > div:hover > .whenHover{
    position: relative;
    top: -264px;
    left: -10px;
    opacity: .9;
  }
}

.facts{
  top: 1750px;
  height: 270px;
  background-color: $blueColor;
  margin: 55px 0;
  text-align: center;
  > div{
    display: inline-block;
    width: 240px;
    @include fontStyle(normal, normal, 14px, Montserrat);
    > span{
      @include fontStyle(normal, bold, 72px, Montserrat);
    }
    padding: 90px 0;
  }
  div:nth-child(2n - 1){
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
  }
}

.service{
  height: 650px;
  text-align: center;
  color: $textColor;
  top: 2020px;
  margin: 55px 0 40px 0;
  .skills{
    display: inline-block;
    width: 1200px;
    margin-top: 40px;
    > div{
      margin: 0;
      width: 393px;
      height: 166px;
      text-align: left;
      display: inline-block;
    }
    img{
      margin: 30px;
    }
    span{
      position: relative;
      top: -83px;
      left: 90px;
      >p{
        width: 275px;
      }
      > p:first-child{
        @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
      }
      > p:last-child{
        @include fontStyle(normal, normal, 15px, Roboto, $grayTextColor);
        line-height: 1.6;
      }
    }
    hr{
      margin: -30px 0 30px;
      opacity: .3;
    }
  }
}

.feature{
  top: 2670px;
  height: 850px;
  margin: 40px 0 0 0;
  background-image: url("images/featuresBg.png");
  > img{
    @include abs-pos;
    top: 272px;
    left: 695px;
    width: 475px;
    z-index: 0;
  }
  > img + img{
    width: 205px;
    left: 1085px;
    top: 465px;
    margin-bottom: 20px;
  }
}

.service2{
  height: 840px;
  top: 3580px;
  header + p{
    @include afterHeader;
  }
  .container{
    width: 1200px;
    height: 380px;
    margin: 0 0 120px 360px;
    color: black;
    .left, .right{
      width: 570px;
      display: inline-block;
    }
    .left{
      float: left;
      img{
        width: 570px;
      }
    }
    .right{
      input{
        visibility: hidden;
        position: absolute;
      }
      float: right;
      > p{
        border: 1px solid #e5e5e5;
        padding: 20px;
        @include fontStyle(italic, normal, 15px, Roboto, $grayTextColor);
        line-height: 1.6;
        text-align: left;
        width: 525px;
        height: 132px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .head{
        width: 570px;
        height: 60px;
        border: 1px solid #e5e5e5;
        margin-bottom: 8px;
        p, img{
          display: inline-block;
        }
        > p{
          @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
          width: max-content;
          position: relative;
          top: -20px;
        }
        > img{
          margin: 14px 15px;
        }
        .arrow{
          position: relative;
          top: 12px;
          float: right;
        }
      }
    }
    .photography + .blockOfText{
      margin-top: -9px;
      width: 530px;
    }
  }
}

.quote{
  top: 4420px;
  height: 290px;
  background-color: $grayBg;
  .text {
    @include fontStyle(italic, normal, 24px, Roboto, $grayTextColor);
    line-height: 1.5;
    text-align: left;
    width: 800px;
    height: 96px;
    position: relative;
    top: -125px;
    left: 125px;
  }
  > * {
    display: inline-block;
  }
  img:first-child{
    margin: 134px 0 134px 393px;
  }
  img:nth-child(2){
    position: relative;
    top: -65px;
    left: 70px;
  }
  img:last-child{
    position: relative;
    top: -134px;
    left: 170px;
  }
  .rect2{
    @include small-red-rect;
    top: 210px;
    left: 690px;
  }
  .author{
    @include fontStyle(normal, normal, 24px, KaushanScript, $textColor);
    text-align: left;
    position: absolute;
    right: 1080px;
    top: 170px;
  }
}

.ourTeam{
  top: 4710px;
  header + p{
    @include afterHeader;
  }
  .images{
    position: relative;
    top: 60px;
    left: 350px;
    width: 1250px;
    height: 480px;
  }
  .images > div{
    display: inline-block;
    width: 380px;
    height: 470px;
    margin: 0 15px;
    position: relative;
    top: 0;
    background-color: $blueColor;
    .panel{
      width: 224px;
      height: 56px;
      position: absolute;
      top: 200px;
      left: 78px;
      display: flex;
      visibility: hidden;
      background-color: $redColor;
      > div{
        flex-direction: row;
        background-color: #fce38a;
        width: 55px;
        height: 56px;
        margin-right: 1px;
      }
      @for $i from 1 through 4 {
        > div:nth-child(#{$i}) {
          background: url("images/panel#{$i}.png");
        }
        > div:nth-child(#{$i}):hover {
          background: white url("images/panel#{$i}.png");
        }
      }
    }
    > .image{
      position: relative;
      width: 380px;
      height: 470px;
    }
    .matthew{
      @include forImage("images/matthewPhoto.png", -70px 0);
    }
    .christopher{
      @include forImage("images/christopher.png", -100px -90px);
      background-size: 140% 120%;
    }
    .michael{
      @include forImage("images/michael.png");
      background-size: 200% 100%;
    }
    > .image:hover{
      position: relative;
      top: -10px;
      left: -10px;
    }
    >.image:hover + .panel{
      visibility: visible;
    }
    .matthew:hover{
      background: $gradForBg, url("images/matthewPhoto.png") -80px;
    }
    .christopher:hover{
      background: $gradForBg, url("images/christopher.png") -100px -90px;
      background-size: 140% 120%;
    }
    .michael:hover{
      background: $gradForBg, url("images/michael.png") -190px;
      background-size: 200% 100%;
    }
  }
  .names{
    position: absolute;
    top: 890px;
    left: 363px;
    > p{
      display: inline;
      width: 185px;
      @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
      margin: 30px 136px;
    }
  }
  .professions{
    > p{
      position: relative;
      top: 100px;
      left: 350px;
      margin: 30px 150px;
      display: inline;
      width: 130px;
      @include fontStyle(italic, normal, 15px, Robot, $grayTextColor);
      line-height: 1.6;
    }
    > p:last-child{
      margin-left: 180px;
    }
  }
}

.logos{
  top: 5760px;
  height: 250px;
  background-color: $grayBg;
  img{
    margin-left: 360px;
    position: absolute;
    top: 50px;
  }
}

.work{
  header + p{
    @include afterHeader;
  }
  top: 6010px;
  table{
    width: 1920px;
    height: 780px;
    border-collapse: collapse;
    margin: 40px 0 0 0;
    td img{
      width: 480px;
      height: 390px;
    }
    @for $i from 1 through 7{
      #_#{$i}{
        @include forImage("images/img#{$i}.png");
      }
    }
    #_4, #_6, #_7{
      background-position: top;
    }
  }
}

.quote2{
  top: 7200px;
  padding-top: 45px;
  background-color: white;
  img:nth-child(2){
    left: 0;
    top: -30px;
  }
  img:last-child{
    left: 70px;
  }
  .text{
    left: 0;
  }
  .author{
    right: 1000px;
    top: 200px;
  }
  .rect2{
    left: 735px;
    margin-top: 30px;
  }
}

.whatPeopleSay{
  height: 830px;
  top: 7640px;
  background-image: url("images/bg2.png");
  .reviews{
    width: 1200px;
    height: 500px;
    margin: 120px 400px;
    > .review{
      display: inline;
      width: 600px;
      height: 245px;
      > div{
        position: relative;
        left: 140px;
        top: -100px;
        width: 375px;
        > .revAuthor{
          @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
          margin: 0;
        }
        > .revProf{
          @include fontStyle(italic, normal, 15px, Roboto, $grayTextColor);
          line-height: 1.6;
          margin: 0;
        }
        > .revRect{
          @include small-red-rect;
          position: relative;
          top: 8px;
        }
        .rev{
          @include fontStyle(normal, normal, 15px, Roboto, $grayTextColor);
          line-height: 1.6;
        }
      }
    }
    > .review:nth-child(2){
      position: relative;
      left: 50%;
      top: -285px;
    }
    > .review:nth-child(3){
      position: relative;
      top: -350px;
    }
    > .review:nth-child(4){
      position: relative;
      top: -635px;
      left: 50%;
    }
  }
}

.blog{
  height: 770px;
  top: 8470px;
  header + div{
    width: 1200px;
    height: 400px;
    display: flex;
    margin: 0 0 0 340px;
  }
  .blogItem{
    flex-direction: row;
    margin: 80px 15px;
    width: 380px;
    height: 400px;
    @for $i from 1 through 3 {
      > .image#{$i} {
        width: 380px;
        height: 240px;
        background: url("images/blog#{$i}.png") center no-repeat;
      }
    }
    .data{
      width: 60px;
      height: 70px;
      position: relative;
      top: -110px;
      left: -10px;
      background-color: $blueColor;
      text-align: center;
      .date {
        @include fontStyle(normal, bold, 30px, Montserrat);
        position: relative;
        top: 5px;
      }
      .month{
        @include fontStyle(italic, normal, 18px, Montserrat);
        position: relative;
        top: -27px;
      }
    }
    .data + p{
      @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
      position: relative;
      top: -100px;
    }
    .data + p + p{
      @include fontStyle(normal, normal, 15px, Roboto, $grayTextColor);
      line-height: 1.6;
      width: 375px;
      height: 39px;
      position: relative;
      top: -100px;
    }
    hr{
      width: 380px;
      opacity: .25;
      position: relative;
      top: -90px;
    }
    .view:before{
      content: url("images/VIEW.png");
      margin: 0 5px 0 0;
    }
    .comment:before{
      content: url("images/SPEECH BUBBLE.png");
      margin: 0 5px;
      position: relative;
      top: 2px;
    }
    .view, .comment{
      display: inline;
      @include fontStyle(italic, normal, 15px, Roboto, $grayTextColor);
      line-height: 1.6;
      position: relative;
      top: -90px;
    }
  }
}

.map{
  top: 9240px;
  height: 200px;
  background: url("images/mapBg.png") no-repeat;
  background-size: cover;
  img{
    position: relative;
    top: 57px;
    left: 950px;
  }
  p{
    @include fontStyle(normal, bold, 24px, Montserrat, $redColor);
    position: relative;
    top: 40px;
    text-align: center;
  }
  .rect{
    @include small-red-rect;
    top: 145px;
    left: 930px;
  }
}

.footer{
  top: 9440px;
  height: 560px;
  > div{
    display: inline-block;
    margin: 0 7px;
  }
  .mogo{
    width: 480px;
    margin-left: 360px;
    p:first-child{
      @include fontStyle(normal, bold, 32px, Montserrat, rgb(204, 204, 204));
    }
    p:nth-child(2){
      @include fontStyle(normal, normal, 15px, Roboto, $grayTextColor);
      line-height: 1.6;
    }
    p:nth-child(3){
      @include fontStyle(normal, normal, 14px, Montserrat, $textColor);
      margin-top: 25px;
    }
    hr{
      opacity: .3;
    }
    p:nth-child(5){
      @include fontStyle(italic, normal, 15px, Roboto, $grayTextColor);
      line-height: 1.6;
      position: relative;
      top: -3px;
      margin-right: 5px;
    }
    p:nth-child(5), a{
      display: inline-block;
    }
    a{
      margin: 5px 7px;
    }
    a:hover{
      transform: scale(1.2);
      transition-duration: .5s;
    }
    input{
      height: 40px;
      width: 230px;
      border: 1px solid #e7e7e7;
      @include fontStyle(italic, normal, 15px, Roboto, $textColor);
      line-height: 1.6;
      padding-left: 10px;
      opacity: .8;
    }
    button{
      background-color: $blueColor;
      width: 150px;
      height: 44px;
      @include fontStyle(normal, bold, 14px, Montserrat);
      text-align: center;
      border: none;
      position: relative;
      left: -5px;
      top: 1px;
    }
  }
  .blogs{
    width: 350px;
    position: relative;
    top: 60px;
    .item{
      width: 340px;
      height: 80px;
      margin: 20px 0;
      p{
        position: relative;
        top: -85px;
        left: 135px;
      }
    }
    p{
      @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
      width: 200px;
    }
    > p:first-child{
      margin-bottom: 25px;
    }
    p + p{
      @include fontStyle(italic, normal, 13px, Roboto, $grayTextColor);
      line-height: 1.846;
      margin-top: -10px;
    }
  }
  .instagram{
    width: 270px;
    p{
      @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
      margin-bottom: 25px;
    }
    td{
      width: 88px;
      height: 88px;
    }
    @for $i from 1 through 9{
      #__#{$i}{
        @include forImage("images/inst#{$i}.png");
      }
    }
    a{
      @include fontStyle(italic, normal, 13px, Roboto, $grayTextColor);
      line-height: 2;
      text-decoration: none;
    }
  }
  div + hr{
    opacity: .3;
    margin-top: 60px;
  }
  hr + p{
    text-align: center;
    @include fontStyle(normal, bold, 14px, Montserrat, $textColor);
    span{
      color: $redColor;
    }
  }
}